.App {
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-container-main {
  display: flex;
  flex-direction: column;
  background-color: #282c34;
  width: 450px;
  height: 700px;
}

.flex-container-header {
  display: flex;
  background-color: aliceblue;
  padding: 40px;
  margin: 20px;
}

.flex-container-body {
  display: flex;
  flex-direction: column;
  background-color: brown;
}

.flex-container-footer {
  display: flex;
  background-color: blueviolet;
  flex-direction: column;
}

.flex-container-footer-calendar {
  display: flex;
}

.calendar-day {
  width: 60px;
  height: 40px;
}